transformers==4.50.3
torch==2.6.0
langchain==0.3.23
langchain-ollama==0.3.0
langchain-chroma==0.2.2
pandas==2.2.3
pandas-stubs==2.2.3.250308
ragas==0.2.15
streamlit==1.45.0
rapidfuzz==3.13.0
langchain-huggingface==0.2.0
pyjwt==2.10.1